body {
    display: inline-block;
  position: relative;
   
}

header {
  display: inline-block;
  text-align: center;
  border: 1px solid red;
}

#cabeca {
  border: 1px solid red;
}

.corpo {
    border: 1px red;
}

#mypic {
    width: 20%;
  border: 1px solid red;

}

#mypic1 {
    width: 20%;
    opacity: 100%;]
  border: 1px solid red;
}