html {
  background-color: black;
  color: white;
}
#header {
  position: sticky;
  TOP: 0;
  display: flex;
  background-color: black;
  color: white;
  
  justify-content: center;
  align-items: center;
  
}

#bot {
  margin: auto;
  background-color: black;
  color: white;
  box-sizing: border-box;
  width: 30px;
  padding: 10px 5px 10px 5px;
  border: 1px solid red;
  border-radius: 15px

  }

.home {
  border: 1px solid red;
  padding: 2px;
  margin: 200px;
}

#inicio {
  display: inline;
  flex-direction: column;
  box-sizing: border-box;
}

.esquerdo {
  column-width: 50px;
}

.direita{
  display: inline;
}
